<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/madlib">
		Please enter a person's name <input type="text" name="person"><br>
		Please enter a color <input type="checkbox" name="color" value="red">Red<br>
		Please enter a color <input type="checkbox" name="color" value="blue">Blue<br>
		Please enter a color <input type="checkbox" name="color" value="green">Green<br>
		Please enter a color <input type="checkbox" name="color" value="yellow">Yellow<br>
		Please enter a noun 
			<select name="noun">
				<option value="boat">Boat</option>
				<option value="house">House</option>	
				<option value="toilet">Toilet</option>
				<option value="poop">Poop</option>
			</select><br>
		Please enter an adjective <input type="text" name="adjective"><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>